In [12]:
var1 = 15
var2= 10.3
print(var1)
print(var2)
string1 = 'Hello World'
print(string1)

15
10.3
Hello World

In [1]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d']
print(list1)
print(list2[2])
print(list2[1:3])

[1, 2, 3, 4, 5]
c
['b', 'c']

In [1]:
import pandas as pd

In [3]:
d2 = pd.read_csv ("d2.csv")

In [4]:
print(d2['Sales'].sum())

97096.15602683

In [8]:
d2.head(5)

  firm_name  Employees        Sales  R&D investments
0       AMD  13.948818  4997.104545      1225.592455
1      AFOP   0.624364    25.207909         4.965364
2      ALTR   2.328909  1178.302818       218.001909
3      AMKR  21.253182  2196.502636        38.588091
4      ANAD   0.534182   148.204454        40.087545

In [10]:
d2.iloc[3]

firm_name             AMKR
Employees          21.2532
Sales               2196.5
R&D investments    38.5881
Name: 3, dtype: object