# HKDSS - Python & Data Science 101
## Lets Start

*Try this in the below cell anc click ```ctrl + Enter``` to execute the below code:*

In [ ]:
x = 1

Try this:

x.
Without pressing ENTER, press TAB.

In [ ]:
x.

### Creating variables

In [ ]:
var1 = 15
var2= 10.3
print(var1)
print(var2)
string1 = 'Hello World'
print(string1)

### Inclass Exercises: Number and Strings

- Assign the value 7 to a variable a
- Assign the value “Hello World” to the variable b
- Print a and b
- Print the value 1000
- Print the type of a and b
- Using variable a and (+,-,*,/) and other numbers print out -10

In [ ]:
# Your code here

### Reading CSV and create a Pandas DataFrame from CSV data

In [ ]:
import pandas as pd
d2 = pd.read_csv ("d2.csv")
print(d2['Sales'].sum())

- d2.head(5) to display the top 5 rows
- d2.iloc allows selection of a row by row number
- d2.loc allows selection of a row by index value

In [ ]:
d2.head(5)

In [ ]:
d2.iloc[3]

### Inclass Exercises: Reading CSV
- Read the titanic CSV file (data.csv) and assign it to variable "df"
- Run the command head(5) on the file
- Run the command describe() on the file
- Run the command info() on the file
- Print out row 58 from the file.
- Find the sum of all the fare
- Tell me what is interesting about the data

| Method   |      What it does      | 
|---------------|:-------------:|
| df.head(n) |  First n rows of the DataFrame |
| df.tail(n)|   Last n rows of the DataFrame  | 
| df.shape | Number of rows and columns|
| df.info() | Index, Datatype and Memory information |
| df.describe() | Summary statistics for numerical columns |
| s.value_counts(dropna=False) | View unique values and counts |
| df.apply(pd.Series.value_counts) | Unique values and counts for all columns |

In [ ]:
# Your code here

### Visualizing the data
#### Seaborn CatPlot (Categorical Plots)
- A categorical plot is simply the same plot generated for different categorial variables
- Default is a strip plot
- kind : {point, bar, count, box, violin, strip}

#### Who were the titanic passangers?
- Make a catplot with deck on x-axis and Age on the y-axis
- Check if the deck B bar is correct by using describe()
- Plot the graph of each deck with the class they belong in
- Plot the graph of each deck with the who column using a different palette

In [ ]:
df = pd.read_csv('data.csv')

import seaborn as sns
%matplotlib inline
sns.catplot("Sex", data=df, kind="count")
sns.catplot("Pclass", data = df, kind = 'count')
sns.catplot("Pclass", data=df, hue="Sex", kind = "count")

### Transforming the data
#### Removing null values
- dropna – a function that drop missing values
- dropna(subset = ['Age']) to remove all rows with no Age values

- Pandas .loc function selects the data you want
- notnull() returns rows that does not have null
- df2 = df.loc[df.Age.notnull()]

#### Filling in missing value
- fillna – a function that replace missing values with things you want
- df[“Age”].median() returns the median of the columns
- df['Age'] = df[“Age”].fillna(df['Age'].median())

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

### Inclass Exercises: Transforming the data
- Replace the missing value in the embarked column with S
- Assign the code “Southampton” to S
- Assign the code “Cherbourg” to C
- Assign the code “Queenstown” to Q
- Write the file to “embarked.csv”

In [ ]:
# Your code here

### Basic Python Tutorial (List)
|    Python   Expression               |    Results                           |    Description      |
|--------------------------------------|--------------------------------------|---------------------|
|    list2[1]   = “z”                  |    ['a',   'z', 'c', 'd']            |    Updating         |
|    del   list2[1]                    |    ['a',   'c', 'd']                 |    Deleting         |
|    list2.append("e")                 |    ['a',   'c', 'd', 'e']            |    Appending        |
|    list2   = list2[2:]               |    ['d',   'e']                      |    Slicing          |
|    len([1, 2, 3])                    |    3                                 |    Length           |
|    [1,   2, 3] + [4, 5, 6]           |    [1,   2, 3, 4, 5, 6]              |    Concatenation    |
|    ['Hi!']   * 4                     |    ['Hi!',   'Hi!', 'Hi!', 'Hi!']    |    Repetition       |
|    3   in [1, 2, 3]                  |    True                              |    Membership       |
|    for   x in [1, 2, 3]: print x,    |    1 2   3                           |    Iteration        |

In [ ]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d']
print(list1)
print(list2[2])
print(list2[1:3])

### Basic Python Tutorial (Dict)
- A list of items that uses a key to reference a value. Associate one thing to another.
- Each key is separated from its value by a colon (:)
- The items are separated by commas, and the whole thing is enclosed in curly braces.
- staffinfo = {'name': 'John', 'age':30, 'height':160}

In [ ]:
staffinfo = {'name': 'John', 'age':30, 'height':160}

### Basic Python Tutorial (Function)
- Functions are created through the key word def followed by the name of the functions and parentheses
- Functions are called by writing the function name. 
- Print() is an example of a function
- You can pass parameters into the function by putting it in the parentheses

In [ ]:
def func(a,b):
    return a+b

def func2(a,b):
    print(a)
    print(b)

#calling the function
func2('one','two')

### Basic Python Tutorial (Logical Operations)



|    Operator                          |    Description                                                                                                  |    Example                                                |
|--------------------------------------|-----------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------|
|    ==                                |    If   the values of two operands are equal, then the condition becomes true.                                  |    (a   == b) is not true.                                |
|    !=                                |    If   values of two operands are not equal, then condition becomes true.                                      |                                                           |
|    <>                                |    If   values of two operands are not equal, then condition becomes true.                                      |    (a   <> b) is true. This is similar to != operator.    |
|    >                                 |    If   the value of left operand is greater than the value of right operand, then   condition becomes true.    |    (a   > b) is not true.                                 |
|    <                                 |    If   the value of left operand is less than the value of right operand, then   condition becomes true.       |    (a   < b) is true.                                     |
|    [1,   2, 3] + [4, 5, 6]           |    [1,   2, 3, 4, 5, 6]                                                                                         |    Concatenation                                          |
|    ['Hi!']   * 4                     |    ['Hi!',   'Hi!', 'Hi!', 'Hi!']                                                                               |    Repetition                                             |
|    3   in [1, 2, 3]                  |    True                                                                                                         |    Membership                                             |
|    for   x in [1, 2, 3]: print x,    |    1 2   3                                                                                                      |    Iteration                                              |

In [ ]:
def func(a):
    if a==True:
        print('True')

### Pandas Apply function

In [ ]:
#What about the children?
def man_woman_child(passenger):
    age, sex = passenger
    if age < 16:
        return "C"
    else:
        return sex

In [ ]:
df["who"] = df[["Age", "Sex"]].apply(man_woman_child, axis=1)
sns.catplot("who", data=df, kind = "count");

### Where are our passenger distrubuted in deck?
- deck is the first english alphabet of the carbin number
- eg. Carbin C132 is on Deck level C

In [ ]:
df["deck"] = df.Cabin.str[0]
sns.catplot("deck", data=df, palette="BuPu_d", kind = "count", order = ['A','B','C','D','E','F','G'])

### Who are the passengers on Deck B?

In [ ]:
B = df.loc[df["deck"] == "B"]
B.describe()

### Final Exercises
- How do we visualize those who survived based on the who column?	
- How do we visualize those who survived based on the deck column?

In [ ]:
# Your code here

### What made people survive the sinking?

In [ ]:
sns.catplot("Pclass", "Survived", data=df,kind='point').set(ylim=(0, 1))
sns.catplot("Pclass", "Survived", data=df, hue="Sex", kind='point').set(ylim=(0, 1));